/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Form Styling */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 5;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #00a0f6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #12a4e7;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Link styling */
a {
    color: #d9534f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error message styling */
#informasi {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
    /* Center-align error message */
}

/* Icon styling inside input fields */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-container i {
    position: absolute;
    left: 10px;
    color: #999;
}

.input-container input[type="text"] {
    padding-left: 37px; /* Offset to make room for the icon */
}